{% extends 'base.html' %}


{% block title %} Email Sent  {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Password reset</h3>
                    </div>
                    {% csrf_token %}
                    <div class="card-body">
                        <p class="text-center">Password was reseted successful</p>
                        <p class="text-center">Please check your email inbox</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'login' %}" class="btn btn-outline-secundary"> Login </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}