{% extends 'base.html' %}

{% load static %}

{% block title %} Create a new product {% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Create a new product</h3>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="col-md-2 offset-md-3">
                                <button type="submit" class="btn btn-outline-success">Save</button>
                            </div>
                            <div class="col-md-4 offset-md-1">
                                <button type="submit" class="btn btn-outline-danger">Cancel</button>
                            </div>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}
