{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}Mulțumim{% endblock %}

{% block content %}<br><br><br><br><br><br><br>
    <div class="row">
        <br><br><br><br><br>
        <div class="col-md-6 offset-md-4">
            <h1>Mulțumim pentru contactare!</h1><br><br>
            <p>Vom incerca sa raspundem solicitari dumneavoastra in cel mai scurt timp posibil!</p>
            <br><br><br><br><br><br><br>
        </div>
        <div class="col-md-6">

        </div>
    </div>
    </div>
    <script>
        setTimeout(function () {
            window.location.href = "{% url 'home_page' %}";
        }, 1000); // Delay for 2 seconds
    </script>
{% endblock %}
